@import "tailwindcss";

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

:root {
  --primary-color: #2197A1;
  --secondary-color: #e76038;
  --text-color: #2A2A2A;
  --bg-color: #FEFEFE;
}

@theme inline {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-text-main: var(--text-color);
  --color-background: var(--bg-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-mplus), sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-garamond), serif;
  color: var(--text-color);
  font-weight: 700;
}

h1 {
  font-size: 3rem;
  /* 48px */
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2.25rem;
  /* 36px */
  margin-bottom: 1.25rem;
}

h3 {
  font-size: 1.5rem;
  /* 24px */
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.25rem;
  /* 20px */
  margin-bottom: 0.5rem;
}

h6 {
  font-size: 0.9rem;
  /* 20px */
  margin-bottom: 0.6rem;
}


p,
li {
  font-size: 1rem;
  /* 16px */
  margin-bottom: 1rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--secondary-color);
}

ul,
ol {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}